/* Etiquetas */

body {
    background-color: #122536;
}

form {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
  }
  
  button[type="submit"] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }



/* Clases */

.navbar {
    background-color: #122536ff;;
}

.navbar-bar {
    color:  #384447ff;
}

.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    margin-top: 10px;
}

.profile-menu {
    display: none;
    background-color: rgba(0,0,0,0.8);
    padding: 0.5em;
    
}

.dark-dropdown {
    background-color: #222222;
}

.profile-menu.show {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
}
/*--- Pointing arrow ---*/
.dropdown-toggle {
    position: relative;
    padding-right: 25px;
}

.dropdown-toggle::after { 
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -2.5px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
  }
  
.logo {
    width: 30%; /* adjust to the size of your logo */
    height: 30%; /* adjust to the size of your logo */
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-container form {
    display: flex;
    align-items: center;
  }
  
  .search-container input[type="text"] {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .search-container a {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .search-container a:hover {
    background-color: #ddd;
  }
  
  .search-container i {
    font-size: 24px;
  }

  .fa-search {
    color: #fff; /* Change the color of the icon */
    font-size: 20px; /* Change the size of the icon */
 }

 
/*--------- Identificadores de ID ----------*/

/* Large screens */
@media (min-width: 1200px) {
    #profile-pic {
      width: 50px;
      height: 50px;
    }
    #profile-menu {
      position: absolute;
      right: 10px;
      top: 60px;
    }
  }
  

  /* Small screens */
  @media (max-width: 1199px) {
    #profile-pic {
      width: 30px;
      height: 30px;
    }
    #profile-menu {
      position: absolute;
      right: 10px;
      top: 60px;
    }
  }
